<section class="skills">
  <p class="header">
    <i class="fa fa-star" aria-hidden="true"></i> Technical Skills
  </p>
  <div class="skill-wrapper">
    <p><span>Angular 2+</span></p>
    <div class="progress">
      <div class="determinate" style="width: 70%;"></div>
    </div>
    <p><span>Angular 2+</span></p>
    <div class="progress">
      <div class="determinate" style="width: 70%;"></div>
    </div>
    <p><span>Angular 2+</span></p>
    <div class="progress">
      <div class="determinate" style="width: 70%;"></div>
    </div>
    <p><span>Angular 2+</span></p>
    <div class="progress">
      <div class="determinate" style="width: 70%;"></div>
    </div>
    <p><span>Angular 2+</span></p>
    <div class="progress">
      <div class="determinate" style="width: 70%;"></div>
    </div>
  </div>

  <hr>
</section>
