<app-loader [isLoading] = "isLoading" ></app-loader>
<section class="experience">
  <p class="header-title">
    <i class="fa fa-briefcase" aria-hidden="true"></i>Work Experience
  </p>
  <ul class="collapsible" >
    <li *ngFor="let exp of experienceList"   #collapse>
      <div class="collapsible-header" >
        <img [src]="exp.imageUrl" alt="company name" >
        {{exp.designaiton}}
        <i *ngIf = "!collapse.classList.contains('active')" class="fa fa-chevron-right right-align" aria-hidden="true"></i>
        <i *ngIf = "collapse.classList.contains('active')" class="fa fa-chevron-down right-align" aria-hidden="true"></i>

      </div>
      <div class="collapsible-body">
        <p class="company-name">{{ exp.company}} </p>
        <p class="duration"><i class="fa fa-calendar" aria-hidden="true"></i>
          {{exp.startDate}} - {{exp.endDate ? exp.endDate : ''}}<a *ngIf="!exp.endDate" class="waves-effect waves-light btn">Current</a> 
        </p>
        <ol class="exp-list">
          <li *ngFor="let desc of exp.responsibilities" > {{ desc }} </li>
          <!-- <li>Used different types of RxJs operators to make api calls and its chaining</li>
          <li>Well equipped in using Rxjs, Observables, Subject, Api calls. </li>
          <li>Created barcharts, piecharts etc to visualize the data</li> -->
        </ol>
      </div>
    </li>
  </ul>
</section>
